body {
    font-family: Arial;
    background: #eef2f7;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a3d62;
    color: white;
    padding: 15px;
}

.logo img {
    height: 50px;
}

.btn {
    background: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    color: #0a3d62;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.about {
    display: flex;
    gap: 20px;
    align-items: center;
}

.about img {
    width: 150px;
    border-radius: 10px;
}

.projects {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.project {
    min-width: 200px;
    background: #1e5f74;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
}
